.main__container {
  margin: 0 auto;
  background-color: #fff;
  max-width: 1902px;
}

h2 {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #18b4cf;
}

figure {
  margin: 15px;
}

figcaption {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  background-color: #ffffff;
  text-align: center;
  padding: 15px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  text-align: center;
  padding: 10px;
}

/* ========== HEADER ========== */

.logo__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: #313131;
}

/* ------- Logo & IMGLogo ------ */

.nav__logo {
  margin-left: 29px;
}

.logo {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 29.96px;
}

.logo:hover {
  color: #14b9d5;
}

.logo > span {
  margin-left: 18px;
  position: relative;
  bottom: 5px;
}

/* ------- Navigation Menu ----- */

.navbar {
  display: flex;
  flex-direction: row;
}

.menu__items {
  list-style: none;
}

.menu__links {
  text-transform: uppercase;
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
  margin: 0px 16px;
}

.menu__links:hover {
  color: #14b9d5;
}

/* ---- Search Tool with Lens Icon --- */

.search__tool {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 70px;
  background-color: #000000;
  transition-duration: 0.5s;
}

.search__tool:hover {
  background-color: #686464b7;
  cursor: pointer;
}

.tool__lens {
  position: relative;
  top: -3px;
  left: 9px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  background-color: #96969680;
  width: 13px;
  height: 13px;
}

.lens__blink {
  position: relative;
  top: -4px;
  left: -4px;
  border-top: 2px solid #ffffff;
  border-radius: 49%;
  height: 6px;
  width: 8px;
  transform: rotate(39deg);
}

.tool__handle {
  position: relative;
  top: 7px;
  left: -5px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50px;
  width: 9px;
  transform: rotate(43deg);
}
/* ----------- Header1 & Buttons --------- */

.latest__news {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
  height: 369px;
  color: #ffffff;
  background-attachment: fixed;
  background-image: url(../img/header-bg.jpeg);
  background-color: #0000004f;
  background-position: 10% 130%;
  background-size: cover;
  background-blend-mode: darken;
}

.latest__news > h1 {
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
}

/* ------ Button Container & Buttons ----- */

.btn__container {
  margin-top: 44px;
}

.btn {
  width: 170px;
  height: 55px;
  color: #ffffff;
  font-size: 18px;
  line-height: 25px;
  padding: 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.btn:active {
  transform: scale(0.95);
}

.btn__green {
  background-color: #89ca62;
  margin-right: 20px;
}

.btn__green:hover {
  background-color: #a7df88;
}

.btn__blue {
  background-color: #14b9d5;
}

.btn__blue:hover {
  background-color: #83d2e2;
}

/* ------ Most Popular Posts - Tabel ------ */

.popular__posts {
  margin: 50px auto;
}

.posts__box {
  max-height: 940px;
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.box-1 figcaption,
.box-2 figcaption,
.box-3 figcaption,
.box-4 figcaption,
.box-5 figcaption,
.box-6 figcaption {
  background-color: #f2f2f2;
}

/* -------------- Clients ----------------- */

.popular__clients {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 1fr);
  color: #ffffff;
  background-attachment: fixed;
  background-image: url(../img/parallax-bg.jpeg);
  background-color: #00000057;
  background-position: 50% 27%;
  background-size: cover;
  background-blend-mode: darken;
}

.popular__clients > h2 {
  grid-area: 1 / 2 / 7 / 8;
  color: #ffffff;
}

.line {
  grid-area: 6 / 4 / 8 / 6;
  align-self: flex-start;
  background-color: #18b4cf;
  width: 60px;
  height: 3px;
}

.logo__box1 {
  grid-area: 7 / 3 / 10 / 4;
}

.logo__box2 {
  grid-area: 8 / 4 / 8 / 5;
}

.logo__box3 {
  grid-area: 7 / 5 / 10 / 6;
}

.logo__box4 {
  grid-area: 7 / 6 / 10 / 6;
}

/* -------------- Top Rated --------------- */

.top__rated {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 271px));
  grid-template-rows: 1fr;
}

.top__header {
  position: relative;
  margin: 50px auto;
}

.slide-toggle:hover {
  color: #0f869b;
  cursor: pointer;

  transition: all 0.3s ease-in;
}

/* ------------------ Hot News ----------------- */

.hot__news > h2 {
  margin: 50px auto;
}

.text__box {
  background-color: #f2f2f2;
}

.text__news {
  box-sizing: border-box;
  padding: 0px 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: #5b6469;
}

/* 1st row */
.box-1__news {
  display: flex;
  flex-direction: row;
  grid-area: box-1;
}

.header__box1 {
  text-align: right;
}

.box-2__news {
  margin-left: 35px;
  grid-area: box-2;
}

.header__box2 {
  margin: 0;
}

/* 2d row */

.box-3__news {
  grid-area: box-3;
  margin-top: 43px;
  margin-right: 60px;
}

.box-4__news {
  margin-top: 43px;
  grid-area: box-4;
}

/* 3d row */

.box-5__news {
  grid-area: box-5;
  margin-top: 43px;
  margin-right: 60px;
}

.box-6__news {
  grid-area: box-6;
  margin-top: 43px;
}

/* 4th row */

.box-7__news {
  grid-area: box-7;
  margin-top: 43px;
  margin-right: 35px;
}

.header__box7 {
  margin: 0;
}

.box-8__news {
  margin-top: 43px;
  display: flex;
  flex-direction: row;
  grid-area: box-8;
}

.text__box8 {
  display: block;
}

.header__box8 {
  text-align: right;
}

.hot__news__box {
  display: grid;
  width: 62%;
  margin: 0px auto 70px;
  justify-content: center;
  background-color: #fff;
  grid-template-areas:
    /* "header header header header header header" */
    "box-1 box-1 box-1 box-2"
    "box-3 box-3 box-4 box-4"
    "box-5 box-5 box-6 box-6"
    "box-7 box-8 box-8 box-8";
  /* 4x4 */
}

/* ============ Footer ============ */

.footer {
  background-color: #000000;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.footer-text {
  margin: 29px auto 30px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}

/* ============= Arrow ============== */

.arrow-up div {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  bottom: 30px;
  right: 40px;

  width: 30px;
  height: 30px;

  font-size: 22px;
  background-color: transparent;

  border-left: 10px solid #1c2a33;
  border-bottom: 10px solid #1c2a33;

  transform: rotate(135deg);

  cursor: pointer;
}

.arrow-up:hover div {
  border-color: #314a5a;
}
