* {
  margin: 0;
  background-color: transparent;
  color: #fff;
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1b8b5e;
  transition: all 2s;
}

.container--focus {
  background-color: #06422a;
}

.container__input {
  box-sizing: border-box;
  width: 500px;
  text-align: center;
  background-color: #918848;
  box-shadow: 10px 10px 30px 5px #302d17;
  border-radius: 12px;
  transition: cubic-bezier(1, -0.37, 0.08, 1.51) 2s;
}

.container__input--focus {
  transform: scale(1.1);
  box-shadow: 13px 13px 50px 13px #201f14;
  background-color: #686238;
  border-radius: 25px;
}

.header--input {
  display: inline-flex;
  justify-content: space-around;
  margin: 20px auto;
  padding: 5px;
}

.form--input {
  margin: 35px auto;
  padding: 5px;
}

.price--input {
  display: inline-block;
  border: 1px solid #78bd34c7;
  box-shadow: 0px 0px 14px 8px #77c727;
  border-radius: 5px;
  background-color: transparent;
}

.price--input:focus {
  outline: none !important;
  border: 1px solid #8cc751;
  box-shadow: 0px 0px 0px 1px #8cc751;
  background-color: #a09756;
  transition: linear 0.8s;
}

.price--input--focus {
  color: #fff;
}

.price--input--unfocus {
  color: #8cc751;
}

.display--off {
  opacity: 0;
}

.animation--box {
  animation: show;
  animation-duration: 1.5s;
  margin: 20px auto;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.btn--cross {
  display: block;
  position: relative;
  top: 3px;
  margin-left: 11px;
  height: 19px;
  width: 3px;
  border-radius: 10px;
  background-color: #ffffff;
  transform: rotate(45deg);
  z-index: 1;
}

.btn--cross--cross {
  display: block;
  position: relative;
  top: -16px;
  margin-left: 11px;
  height: 19px;
  width: 3px;
  border-radius: 10px;
  background-color: #ffffff;
  transform: rotate(135deg);
  z-index: 2;
}

.btn--hover {
  background-color: #6e2222;
}

.box__value--del {
  transition: all 2s;
}

.error__message {
  display: block;
  padding-top: 10px;
  padding-left: 50px;
  font-size: 12px;
  color: #dd0404;
}

.error--area {
  border: 1px solid #bd3434c7;
  border-radius: 5px;
  background-color: transparent;
}
